@import 'color';
@import 'font';
* {
    box-sizing: border-box;
}

body {
    width: 95%;
    margin: 0 auto;
    font-size: 80%;
}

@media (min-width:1024px) {
    body {
        width: 90%;
    }
}